.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.gap {
  gap: 1rem;
}

.bg-blue-300 {
  background-color: #90cdf4;
}

.flex-center {
  align-items: center;
  justify-content: center;
}
