html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.gap {
  gap: 1rem;
}

.bg-blue-300 {
  background-color: #90cdf4;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
